.btn-centre {
    text-align:center;
}

.course_title{
    float:left;
}

.btn-detail{
    margin: 5px 5px;
    padding: 0 0.5;
}

.course_header{
    margin-top: 5px;
}

.nav-colour {
    background-color: #0277bd;
}

.fa-table:before,
.fa-home:before,
.fa-cogs:before,
.fa-chalkboard:before,
.fa-chalkboard-teacher:before,
.fa-at:before {
    padding-right: 10px;

}

.collapsible-body{
    background-color: #e1f5fe;
}

