.btn-centre {
    text-align:center;
}

.course_title{
    float:left;
}

.btn-detail{
    margin: 5px 5px;
    padding: 0 0.5;
}

.course_header{
    margin-top: 5px;
}

.nav-colour {
    background-color: #0277bd;
}

.icon-pad {
    padding-right: 10px;
    padding-left: 10px;
}