<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"
		integrity="sha384-ekOryaXPbeCpWQNxMwSWVvQ0+1VrStoPJq54shlYhR8HzQgig1v5fas6YgOqLoKz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Eolas Training</title>
</head>

<body>
	<header>
		<nav class="row">
			<div class="nav-wrapper nav-colour col s12">
                <a href="{{url_for('get_courses')}}" class="brand-logo"><i class="large material-icons">book</i>Eolas</a>

				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_trainee_courses')}}"><i class="fas fa-fw fa-home icon-pad" id="home-icon"></i>Home</a></li>
                    <li><a href="{{url_for('get_courses')}}"><i class="fas fa-fw fa-chalkboard-teacher icon-pad" id="int-icon"></i>Trainer Interface</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{url_for('get_trainee_courses')}}">Home</a></li>
                    <li><a href="{{url_for('get_courses')}}">Trainer Interface</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		{% block content %}

		{% endblock %}
	</div>
	<!--Import jQuery before materialize.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-trigger").dropdown();
            $('.modal').modal();

        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	        e.stopPropagation();
        });
        
	</script>
</body>

</html>