<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course List</title>
</head>
<body>
    {% for course in courses %}
        {{course.course_name}}
        {{course.category_name}}
        {{course.date}}
        {{course.duration}}
        {{course.course_description}}
        {{course.max_subscriber}}
        {{course.subscriber_list}}
    {% endfor%}
</body>
</html>