{% extends 'base.html' %}
{% block content %}

<h3>Edit Course</h3>

<div class="row">
	<form action="{{ url_for('edit_course', course_id=course._id) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="course_name" name="course_name" type="text" class="validate" value="{{course.course_name}}">
				<label for="icon_prefix">Course Title</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">poll</i>
				<select id="category_name" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                        {% if cat.category_name == course.category_name %}
                        <option value="{{ cat.category_name }}" selected> {{ cat.category_name.capitalize() }}</option>
                        {% else %}
                        <option value="{{ cat.category_name }}"> {{ cat.category_name.capitalize() }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				<label>Course Category</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12" id="matfix">
				<i class="material-icons prefix">today</i>
				<input id="date" name="date" type="text" class="datepicker">
				<label for="icon_prefix">Date</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">av_timer</i>
				<select id="duration" name="duration">
                <option value="" disabled selected>Choose Course Duration</option>
                {% for dur in durations %}
                    {% if dur.duration == course.duration %}
                    <option value="{{ dur.duration }}" selected> {{ dur.duration }}</option>
                    {% else %}
                    <option value="{{ dur.duration }}"> {{ dur.duration }}</option>
                    {% endif %}
                {% endfor %}
            </select>
				<label>Course Duration</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">group_add</i>
				<select id="max_subscriber" name="max_subscriber">
                <option value="" disabled selected>Set Maximum Number of Candidates</option>
                {% for size in sizes %}
                    {% if size.max_subscriber == course.max_subscriber %}
                    <option value="{{ size.max_subscriber }}" selected> {{ size.max_subscriber }}</option>
                    {% else %}
                    <option value="{{ size.max_subscriber }}"> {{ size.max_subscriber }}</option>
                    {% endif %}
                {% endfor %}
            </select>
				<label>Maximum Candidates</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">mode_edit</i>
				<textarea name="course_description" id="course_description" class="materialize-textarea">{{ course.course_description }}</textarea>
				<label for="icon_telephone">Course Description</label>
			</div>
		</div>
		<div class="row btn-centre">
			<button class="btn waves-effect waves-light btn-large light-blue darken-3" type="submit" >Edit Course
                <i class="material-icons right">playlist_add</i>
            </button>
		</div>

	</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        date = Date.parse('{{course.date}}');
        $('#date').pickadate('picker').set('select', date, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>

{% endblock %}