{% extends 'base_trainee.html' %}
{% block content %}

<div class="row">
    <div class="col col s6 offset-s3">
        <div class="card teal darken-2" style="text-align: center">
            <div class="card-content white-text">
                <span class="card-title">Successful Enrollment</span>
                Congratulations, you have been succesfully enrolled in the course
            </div>
            <div class="card-action">
                <a href="{{url_for('get_trainee_courses')}}">Return to Course List</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}